<html>
	<head>
		<link <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my One Month Python project</h1>
				<p>My name is Eric Wahlstrom and I'm the founder and CEO of One Month.  I built this project for <a href="http://onemonth.com/courses/one-month-python">One Month | Python</a>.</p>
				<a href="{{ url_for('index') }}">Back to homepage</a>
			</div>
		</div>
	</body>
</html>